*{
    scroll-behavior: smooth;
}
.section-about {
    height: 100vh;
}
.gallery-section {
    height: 100vh;
}

/* #sectionNews {
    height: 75vh;
} */

#sectionTeachers {
    height: 100vh;
}

.react-calendar {
    width: 500px !important;
}

.padding-event {
    padding-top: 130px;
}